In [15]:
import pandas as pd

# df_price_aapl contains AAPL's stock prices from 2015-2020

df_price = pd.read_csv(r'./price_dataset/CompanyValues.csv')
df_price_aapl = df_price.loc[df_price['ticker_symbol'] == 'AAPL']
df_price_aapl = df_price_aapl.loc[df_price_aapl['day_date'].str.contains('2015|2016|2017|2018|2019|2020')]
df_price_aapl

,ticker_symbol,day_date,close_value,volume,open_value,high_value,low_value
0,AAPL,2020-05-29,317.94,38399530,319.25,321.15,316.4700
1,AAPL,2020-05-28,318.25,33449100,316.77,323.44,315.6300
2,AAPL,2020-05-27,318.11,28236270,316.14,318.71,313.0900
3,AAPL,2020-05-26,316.73,31380450,323.50,324.24,316.5000
4,AAPL,2020-05-22,318.89,20450750,315.77,319.23,315.3500
...,...,...,...,...,...,...,...
3080,AAPL,2019-12-21,279.44,69032740,282.23,282.65,278.5600
3081,AAPL,2019-12-22,279.44,69032740,282.23,282.65,278.5600
3082,AAPL,2019-12-25,284.27,12119710,284.69,284.89,282.9197
3083,AAPL,2019-12-28,289.80,36592940,291.12,293.97,288.1200
3084,AAPL,2019-12-29,289.80,36592940,291.12,293.97,288.1200